[package]
name = "haru_cmaes"
version = "0.2.0"
edition = "2021"
authors = ["Mauricio Maroto maulberto3@hotmail.com"]
description = "A simple CMA-ES optimization algorithm implementation based on Hansen's purecma Python implementation."
license = "MIT OR Apache-2.0"
repository = "https://github.com/maulberto3/haru_cmaes"
exclude = [
    ".cargo/**",
    ".devcontainer/**",
    ".github/**",
    "assets/**",
    "*.orig",
    "Makefile",
    "dependencies_graph_of_current_cargo_toml.png",
]


[dependencies]
anyhow = { version = "1.0.86" }
rand = { version = "0.8.5" }
rayon = { version = "1.10.0" }
ndarray = { version = "0.15", features = ["blas", "rayon"] }
blas-src = { version = "0.10", features = ["openblas"] }
openblas-src = { version = "0.10", features = ["cblas", "system"] }
ndarray-linalg = { version = "0.16", features = ["openblas-system"] }
ndarray-rand = { version = "0.14" }
ndarray-stats = { version = "0.5.1" }
nalgebra = "0.33.0"
cmaes = {version = "0.2.1", features = ["openblas"] }

[dev-dependencies]
pprof = { version = "0.13", features = ["flamegraph"] }
criterion = { version = "0.5.1", features = ["html_reports"] }

[[bench]]
name = "cmaes"
harness = false

[[bench]]
name = "eig"
harness = false

[[bench]]
name = "pengowen"
harness = false

[[bench]]
name = "hansen"
harness = false

[profile.release]
lto = true
codegen-units = 1
panic = "abort"


