[package]
name = "haru_cmaes"
version = "0.1.0"
edition = "2021"
authors = ["Mauricio Maroto maulberto3@hotmail.com"]
description = "A simple CMA-ES optimization algorithm implementation based on Hansen's purecma"
license = "MIT OR Apache-2.0"
repository = "https://github.com/maulberto3/haru_cmaes"

[dependencies]
anyhow = { version = "1.0.86" }
rand = { version = "0.8.5" }
rayon = { version = "1.10.0" }

ndarray = { version = "0.15", features = ["blas", "rayon"] }
blas-src = { version = "0.10", features = ["openblas"] }
openblas-src = { version = "0.10", features = ["cblas", "system"] }
ndarray-linalg = { version = "0.16", features = ["openblas-system"] }
ndarray-rand = { version = "0.14" }
ndarray-stats = { version = "0.5.1" }

nalgebra = "0.33.0"

# faer = "0.19.1"

[dev-dependencies]
criterion = { version = "0.5.1", features = ["html_reports"] }

[[bench]]
name = "bch1"
harness = false

[[bench]]
name = "bch2"
harness = false

[[bench]]
name = "bch3"
harness = false

[profile.release]
lto = true
codegen-units = 1
panic = "abort"


